@model Core_Diski_Demo.Models.ViewModels.Admin.ProductFormViewModel
@{
    ViewData["Title"] = "Edit Jersey";
}

<h1 class="h3 mb-3">Edit Jersey</h1>
<partial name="_ProductForm" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
